@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       font-family: 'Poppins' , sans-serif;  
}


body{
    font-family: 'Anton', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    text-align: center;
    
}

.container h1{
    font-size: 40px;
    margin-top: 20px;
}

.container .mistake {
    background: rgb(76, 204, 255);
    padding: 10px;
    width: 60vmin;
    font-size: 24px;
    margin: 20px auto;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
}

#gameBoard{
    height: 60vmin;
    width: 60vmin;
    background: #fff;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #000;
}

.tile{
    height: calc(100% /9);
    width: calc(100% / 9);
    border: 1px solid #ccc;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.filled{
    background: #f2f2f2;
}

.select-tile{
    background: rgba(76, 204, 255,0.5);
}

#digits{
    width: 60vmin;
    display: flex;
    margin: 20px auto;
}

#digits .tile{
    background: rgb(76, 204, 255);
    border-radius: 10px;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    height: 45px;
}

.border-right{
    border-right: 2px solid #000;
}

.border-bottom{
    border-bottom: 2px solid #000;
}

#delete{
    color: #f00;
    font-size: 30px;
    cursor: pointer;
}

.danger{
    color: #f00;
}

@media (max-width: 600px) {
    .tile{
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .tile{
        font-size: 16px;
    }
}